<launch>
  <!--<node pkg="image_view" type="image_view" name="image_view_clipper">
      <remap from="image" to="attention_clipper/output/mask" />
  </node>-->
  <node pkg="jsk_pcl_ros" type="heightmap_converter" name="heightmap_converter">
      <remap from="~input" to="xtion/depth/points" />
  </node>
  <node pkg="image_view" type="image_view" name="image_view_heightmap">
      <remap from="image" to="heightmap_converter/output" />
  </node>
  <node pkg="jsk_perception" type="colorize_float_image" name="colorize_raw_heightmap">
    <remap from="~input" to="heightmap_converter/output" />
  </node>
  <node pkg="image_view" type="image_view" name="image_view">
    <remap from="image" to="colorize_raw_heightmap/output" />
  </node>
  <node pkg="jsk_pcl_ros" type="heightmap_morphological_filtering" name="complete_hole">
    <remap from="~input" to="heightmap_converter/output" />
  </node>
  <node pkg="jsk_perception" type="colorize_float_image" name="colorize_filtered_heightmap">
    <remap from="~input" to="complete_hole/output" />
  </node>-
  <node pkg="jsk_pcl_ros" type="heightmap_to_pointcloud" name="completed_pointcloud">
    <remap from="~input" to="complete_hole/output" />
  </node>
  
  <node pkg="image_view" type="image_view" name="filtered_image_view">
    <remap from="image" to="colorize_filtered_heightmap/output" />
  </node>
  <!--<node pkg="jsk_pcl_ros" type="heightmap_time_accumulation" name="acc">
    <remap from="~input" to="complete_hole/output" />
    <remap from="~input/prev_pointcloud" to="prev_cloud/output" />
    <rosparam>
      center_frame_id: odom
      fixed_frame_id: odom
    </rosparam>
  </node>
  <node pkg="jsk_pcl_ros" type="heightmap_to_pointcloud" name="prev_cloud">
    <remap from="~input" to="acc/output" />
  </node>
  <node pkg="jsk_perception" type="colorize_float_image" name="acc_color">
    <remap from="~input" to="acc/output" />
  </node>
  <node pkg="image_view" type="image_view" name="acc_image_view">
    <remap from="image" to="acc_color/output" />
  </node> -->
  <node pkg="jsk_pcl_ros" type="attention_clipper" name="attention_clipper" output="screen">
      <!--<remap from="~input" to="xtion/depth/camera_info" />-->
      <remap from="~input/points" to="xtion/depth/points" />
      <rosparam>
          use_multiple_attention: false
          frame_id: right_gripper_base
          dimension_x: 0.5
          dimension_y: 0.5
          dimension_z: 0.5
          initial_pos: [0.0,0.0,0.0]
          initial_rot: [0.0,0.0,0.0]
     </rosparam>
 </node>
 <node pkg="nodelet" type="nodelet" name="extract_indices" args="standalone pcl/ExtractIndices">
     <remap from="~input" to="xtion/depth/points" />
     <remap from="~indices" to="attention_clipper/output/point_indices" />
     <rosparam>
         approximate_sync : true
         use_indices : true
     </rosparam> 
 </node>
 
</launch>
