<launch>

  <node name="split_fore_background"
        pkg="jsk_perception" type="split_fore_background.py">
        <remap from="~input" to="/kinect2_head/hd/image_color" />
        <remap from="~input/depth" to="/kinect2_head/hd/image_depth_rect" />
  </node>

  <node name="$(anon image_view)"
        pkg="image_view" type="image_view">
    <remap from="image" to="split_fore_background/output/fg_mask" />
  </node>

</launch>
