<launch>
  <node pkg="jsk_pcl_ros" type="border_estimator" name="border_estimator">
      <remap from="~input" to="kinect2_head/hd/points" />
  </node>
  <node pkg="image_view" type="image_view" name="image_view_border">
      <remap from="image" to="border_estimator/output_range_image" />
  </node>
</launch> 
